/* modal */
#modal {
  display: block;
  max-width: 1100px;
  width: 90%;
  height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 30px 30px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  opacity: 1;
  z-index: 1;
  overflow-y: auto;
}
.overLine {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
#modal.hidden,
.overLine.hidden {
  display: none;
  opacity: 0;
}
#modal .modal-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.modal-subTitle {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}
#modal .row.relative_row {
  margin-bottom: 20px;
}
#modal .row {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.row .cal-1 {
  flex: 1;
}
.row .cal-2 {
  flex: 2;
}
.row .cal-3 {
  flex: 3;
}
.row > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

label {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
}
input[type="text"],
select {
  height: 40px;
  padding: 10px;
  outline: none;
  background: #eef0f5;
  border: 1px solid #eef0f5;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  color: #354356;
}
input[type="text"].error {
  border: 1px solid #ff7051;
}
label.error,
.note.error {
  display: block;
  color: #ff7051;
}
.note.error {
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  top: 105%;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  color: #c44141;
  background: #ffb2b2;
  transition: all 0.3s;
}
.close-btn:hover {
  background: #c95757;
  color: #fff;
}

.add__relatives__info {
  height: 200px;
  overflow-y: scroll;
}
.add_line_wrapper {
  text-align: center;
  position: relative;
}
.addInfoRow {
  z-index: 5;
  position: relative;
  background-color: #fff;
  border: 3px solid #eef0f5;
  border-radius: 50%;
  font-size: 23px;
  color: #0056b3;

  width: 35px;
  height: 35px;
  padding: 0;
  transition: all 0.3s;
}
.addInfoRow + .line {
  width: 100%;
  border: 2px solid #eef0f5;
  position: absolute;
  top: 7px;
  z-index: 4;
  transition: all 0.4s;
}
.addInfoRow:hover {
  transform: scale(1.15);
  background-color: #fff;
  border-color: #0056b3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.addInfoRow:hover + .line {
  box-shadow: 0px 3px 7px rgba(16, 22, 83, 0.6);
  border-color: #0056b3;
}

/* ---- file input ----- */
input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}

input[type="file"]::before {
  top: 16px;
}

input[type="file"]::after {
  top: 14px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
  max-width: 275px;
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  /*   top: 11px; */
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  /*   top: 10px; */
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/* ------------------------ */
